fastapi
uvicorn
gunicorn
pandas
numpy
python-decouple
pydantic
celery
redis
psutil
pydantic-settings
pytest
httpx
watchfiles
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
alembic
